/* typography */
html{
    scroll-behavior: smooth
}

h1 {
    font-size: 80px;
    font-family: 'Spectral', serif;
    font-style: italic;
    color: rgb(0, 196, 153);
}

h2 {
    font-size: 30px;
    color: silver;
    text-shadow: 2px 2px #000000;
}

body {
    background-color: #b3cccc;
    margin: 0;
}

p {
    font-family: 'Indie Flower', cursive;
    font-size: 30px;
    line-height: 50px;
    color: rgb(0, 0, 0);
}

footer {
    height: 100px;
    text-align: center;
    padding: 10px 0;
}

nav {
    padding: 20px;
    position: fixed;
    width: 100%;
    background-color: white;

}

.nav-links{
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    width: 230px;
    text-align: center;
}

.nav-links li{
    display: inline;
}

.nav-links li a{
    padding-left: 10px;
    padding-right: 5px;
}

.button-link {
    border-style: solid;
    border-color: crimson;
    background-color: cornsilk;
    border-width: 2px;
    text-decoration: none;
    color: black;
    padding: 5px;
    border-radius: 12px;
    display: block;
    width: 300px;
    text-align: center;
    margin-top: 20px;
}

.button-alert {
    border-style: dotted;
    border-color: rgb(20, 220, 47);
    background-color: rgb(220, 253, 255);
    border-width: 2px;
    text-decoration: none;
    color: black;
    padding: 5px;
    border-radius: 0px;
    display: block;
    width: 300px;
    text-align: center;
    margin-top: 20px;
}

.button-action {
    border-style: double;
    border-color: rgb(20, 83, 220);
    background-color: rgb(255, 220, 255);
    border-width: 2px;
    text-decoration: none;
    color: black;
    padding: 5px;
    border-radius: 0px;
    display: block;
    width: 300px;
    text-align: center;
    margin-top: 20px;
}

.top-banner {
    height: 275px;
    text-align: center;
    padding-top: 40px;
    background-color: cornflowerblue;
    background-image: url("https://i.ytimg.com/vi/rndKFHgLj8k/maxresdefault.jpg");
    background-size: cover;
}

.main-content {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 10px;
}