/* typography */
h1 {
    font-size: 40px;
    font-family: 'Spectral', serif;
    font-style: italic;
    color: rgb(0, 196, 153);
}

h2 {
    font-size: 30px;
    color: silver;
    text-shadow: 2px 2px #000000;
}

body {
    background-color: #b3cccc;
}

p {
    font-family: 'Indie Flower', cursive;
    font-size: 30px;
    line-height: 50px;
    color: rgb(0, 0, 0);
}

.button-link {
    border-style: solid;
    border-color: crimson;
    background-color: cornsilk;
    border-width: 2px;
    text-decoration: none;
    color: black;
    padding: 5px;
    border-radius: 12px;
    display: block;
    width: 300px;
    text-align: center;
    margin-top: 20px;
}

.button-alert{
    border-style: dotted;
    border-color: rgb(20, 220, 47);
    background-color: rgb(220, 253, 255);
    border-width: 2px;
    text-decoration: none;
    color: black;
    padding: 5px;
    border-radius: 0px;
    display: block;
    width: 300px;
    text-align: center;
    margin-top: 20px;
}